@{
    ViewBag.Title = "Contact Page";
}

@section Scripts {
    @*<script type="text/javascript" src="~/Scripts/libs/runtime.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/polyfills.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/styles.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/vendor.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/main.js"></script>*@
    <script src="~/Scripts/libs/main.js"></script>
    <script src="~/Scripts/libs/polyfills.js"></script>
    <script src="~/Scripts/libs/runtime.js"></script>
    <script src="~/Scripts/libs/vendor.js"></script>
    <script src="~/Scripts/libs/styles.js"></script>
    @*<script src="~/Scripts/out-tsc/main.js"></script>
        <script src="~/Scripts/out-tsc/polyfills.js"></script>
        <script src="~/Scripts/out-tsc/test.js"></script>*@
}

<div id="FrontEnd">
@*<app-root myAttribute=@Html.AntiForgeryToken()></app-root>*@
<app-root id="AngularClient"></app-root>
@Html.AntiForgeryToken()
</div>